@model IEnumerable<EmployeesRegister.Models.Database.Employee>

    <div class="col-md-12">
        @if (Model.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Age, years</td>
                        <td>Gender</td>
                        <td>Department</td>
                        <td>Experience</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var employee in Model)
                    {
                        var exp = "Unknown";
                        <tr>
                            <td>
                                <span>@string.Format("{0} {1}", employee.LastName, employee.FirstName)</span>
                            </td>
                            <td>
                                <span>@employee.Age</span>
                            </td>
                            <td>
                                <span>@employee.Gender</span>
                            </td>
                            <td>
                                <span>@employee.Department.Name (@employee.Department.Floor floor)</span>
                            </td>
                            <td>
                                @if (employee.Skills != null && employee.Skills.Any())
                                {
                                    exp = string.Concat(employee.Skills.Select(e => ";" + e.ProgLanguage.Name)).Substring(1);
                                }

                                @Html.ActionLink(exp, "Experience", new { id = employee.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { Id = employee.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { Id = employee.Id })
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        }
        else
        {
            <p>No employees found</p>
        }
    </div>