@model EmployeesRegister.Models.Database.Employee
@{
    ViewBag.Title = "Experience";
    var languages = ViewData["Languages"] as IEnumerable<SelectListItem>;
}

<h2>@string.Format("{0} {1}", Model.LastName, Model.FirstName) experience</h2>

@if(Model.Skills != null && Model.Skills.Any())
{
    
    foreach(var skill in Model.Skills)
    {
        <li>@skill.ProgLanguage.Name @Html.ActionLink("x", "DeleteExperience", new { id = Model.Id, skillId = skill.Id })</li>
    }
}
else
{
    <p>Employee experience is unknown</p>
}

<div class="row">
@using (Html.BeginForm("AddExperience", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(e => e.Id)
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("LanguageId", languages, new { @class = "form-control" })
            <input type="submit" class="btn btn-default" value="Add"/>
        </div>
    </div>
}
</div>


